<%- include('./head')-%>
<body>
    <div class="container mt-3">
        <div class="jumbotron">
            <h2 style="color:rgb(12, 139, 224);">Generar Datos</h2>
            <br/>

            <form action="/datos" method="post">
                
                <button id="crear" class="btn btn-success mt-3 mb-5">Crear</button>
                <!-- <div class="form-group">
                    <label for="nombre"><b>Nombre</b></label>
                    <input type="text" id="nombre" class="form-control" name="nombre">
                </div> -->

                <!-- <div class="form-group">
                    <label for="precio"><b>Precio</b></label>
                    <input type="number" id="precio" class="form-control" name="precio">
                </div> -->

               <!--  <div class="form-group">
                    <label for="url"><b>Url</b></label>
                    <input type="text" id="foto" class="form-control" name="foto">
                </div> -->

                <button id="enviar"  class="btn btn-success mt-3 mb-5">Enviar</button>
            </form>

            
            

        </div>
    </div>
</body>

<%- include('./footer') -%>